@import 'variables';
@import 'mixins';
body {
    background-color: $white;
    color: #33312e;
    font-family: $ovo;
    letter-spacing: .06em;
}

h1 {
    font-family: $montserrat;
    letter-spacing: .07em;
}

h2,
h3,
h4,
h5,
h6 {
    @extend h1;
}

p {
    font-size: 1.1em;
}

span {
    color: #009fb7;
}

a,
a:visited,
a:hover {
    @extend span;
    @extend h1;
    text-decoration: none;
}

section {
    font-size: 1.1em;
    margin-bottom: 20%;
}

.nav-bar {
    background-color: #009fb7;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: .2em;
    position: fixed;
    width: 100%;
    z-index: 1;
    @include box-shadow($boxShadow);
    .brand {
        float: left;
        padding: 15px 0 10px 200px;
    }
    .menu {
        float: right;
        padding: 15px 200px 10px 0;
        li {
            float: left;
            list-style-type: none;
        }
    }
    a {
        color: $white;
        padding-left: 20px;
    }
}

.landing {
    height: 100vh;
    text-align: center;
    h2 {
        font-size: 4.2em;
        margin-top: 25%;
    }
}

.intro {
    .left-intro {
        img {
            display: block;
            margin: auto;
            max-height: 80%;
            max-width: 80%;
        }
    }
}

// .my-projects {}
.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px;
}

.card-effect {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}