@import url('https://fonts.googleapis.com/css?family=Work+Sans:200|Montserrat:200');
@import "variables";
body {
    background-color: $white;
    color: $black;
    font-family: 'Work Sans', sans-serif;
}

.container {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $black;
    &:visited,
    &:hover {
        color: $black;
    }
}

.nav-bar {
    padding: 30px 200px 0 200px;
    font-size: 32px;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.1);
    .brand {
        float: left;
    }
    .menu {
        float: right;
        li {
            float: left;
            list-style-type: none;
            a {
                padding-left: 20px;
            }
        }
    }
}
.intro {
    .left-intro {
        font-size: 100px;
    }
    
    .right-intro {
        font-size: 28px;
    }
}

