@import 'variables';
@import 'mixins';
body {
    background-color: $white;
    color: $black;
    font-family: $montserrat;
    height: 100%;
}

.container {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $white;
}

a:visited,
a:hover {
    @extend a;
}

.nav-bar {
    background-color: #96bbbb;
    font-family: $lora;
    font-size: 1.6em;
    width: 100%;
    position: fixed;
    z-index: 1;
    @include box-shadow($boxShadow);
    .brand {
        padding: 15px 0 10px 200px;
        float: left;
    }
    .menu {
        padding: 15px 200px 10px 0;
        float: right;
        li {
            float: left;
            list-style-type: none;
            a {
                padding-left: 20px;
            }
        }
    }
}

.landing {
    text-align: center;
    height: 100vh;
    h2 {
        margin-top: 40vh;
        font-size: 3.2em;
    }
}

.intro {
    margin-bottom: 10%;
    .left-intro {
        font-family: $lora;
        font-size: 4.8em
        img {
            height: 769px;
            width: 750px;
        }
    }
    .right-intro {
        margin-top: 10vh;
        font-size: 1.6em
    }
}
