@import url('https://fonts.googleapis.com/css?family=Work+Sans:200|Montserrat:200');

// Colours
$black: #000000;
$white: #ffffff;

// Fonts
$workSans: 'Work Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Box Shadow
$boxShadow: (0px 1px 5px 1px rgba(0, 0, 0, 0.1));
