@import url('https://fonts.googleapis.com/css?family=Work+Sans:200|Montserrat:200|Lora|Raleway:200');

// Colours
$black: #000000;
$white: #ffffff;

// Fonts
$workSans: 'Work Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$lora: 'Lora', serif;
$raleway: 'Raleway', sans-serif;


// Box Shadow
$boxShadow:  0px 3px 9px 4px rgba(0,0,0,0.18);
