@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Assistant|Secular+One');


// Colours
$black: #484a47;
$white: #ffffff;
$blue: #009fb7;
$orange: #DE6530;


// Fonts
$montserrat: 'Montserrat', sans-serif;
$assistant: 'Assistant', sans-serif;
$secularOne: 'Secular One', sans-serif;


// Box Shadow
$navShadow: 0 3px 9px 0 rgba(0,0,0,0.18);